# =========================
# Dataset / Training Data
# =========================

# Common dataset folders
Private_Real_Dataset
checkpoints

# Large ML assets
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.onnx
*.onnx.data
*.tflite
*.engine
*.weights
*.openvino

# Images
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Audio
*.wav
*.mp3
*.flac

# NumPy / arrays
*.npy
*.npz

# Archives
*.zip
*.tar
*.gz
*.7z
*.rar

# CSV / annotation files
*.csv
*.json
*.xml
*.txt

# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db